<!-- public/views/user.html -->
<body ng-app="app">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

    <script src="js/services/UserService.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
    <script src="js/services/BestService.js"></script>
    <script src="js/controllers/BestCtrl.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>

<div>
    <form name="myForm" ng-controller="UserController as user" ng-submit="user.myForm.submitTheForm(myForm)">
        <input type="text" name="name" ng-model="user.myForm.name"> First name <br/>
        <input type="text" name="email"  ng-model="user.myForm.email"> Email <br/><input type="submit" id="submit" value="Submit" />
    </form>

</div>

</body>
