<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.1/angular-filter.js"></script>

    <script src="js/controllers/LayerCtrl.js"></script>
    <script src="js/controllers/SearchCtrl.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
    <script src="js/services/UserService.js"></script>
    <script src="js/services/BestService.js"></script>
    <script src="js/controllers/BestCtrl.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>
   <link href='http://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display+SC:700,700italic' rel='stylesheet' type='text/css'>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<link href="./style.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div ng-app="LayerCtrl" ng-controller="LayerController">

    <div class="maindiv">

      <div class="nav">
        <a href='/map' id='title'>TasteBuds</a>
      <span id="userId"><%= user._id %></span>
      </div>
      <div id="layerlist">
        <ul class="navOptions">
          <li class="navOptionsli" id='all' ng-click='addAll();'>All</li>
          <li class="navOptionsli" id='friends' ng-click="showFriends = ! showFriends">Friends</li>
          <li ng-click='changeOwner();' class="navOptionsli" id='mine' >Mine</li>
        </ul>
        <div id='layerdiv'>
          <ul id="layerUL" >
          <li ng-repeat='layer in layers'>
          <span class="cat" id=' {{layer.name}} ' ng-click="toggle()">{{layer.name}}</span>
          </li>
        </div>
        </ul>
        <div id='mybests'>
          <ul id="bestsUL" >
            <li ng-repeat='best in bests | unique: "cat"'>
            <span class="mybest" id=' {{best.name}} ' >{{best.name}}</span>
            <span class="fa fa-cog fa-lg" ng-click="close()"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="overlay" ng-show='visible'>
      <span class="fa fa-times fa-lg" ng-click="close()"></span>
      <h1>Who has the best <span id="addDivHead"> catText </span> </br>in New York?</h1></br></br>
      <div id="searchdiv">
        <span ng-controller="SearchController">
          <form name="searching">
            <input type="text" name="sWord" ng-model="keywords" class="input" placeholder="pizza, Murray's Bagels, etc."><br/></br>
            <button type="submit" class="submit" value="Search" ng-click="search();">Search the Map</button>
          </form>
        </span>
      </div>
    </br></br>
      <h1>Take a friend's suggestion</h1>
        <div id="suglist">
          <ul id="suggestionsUL">
            <li class="sugli" ng-repeat='suggestion in suggestions | limitTo:5 | unique: "name"'
            ng-click="addSug()">
              <span id='{{suggestion.name}}'>{{suggestion.name}}</span></br>
              <span id='{{suggestion.address}}'>{{suggestion.address}}</span>
            </li>
          </ul>
        </div>
    </div>
    <div class="overlay" ng-show='showFriends'>
      <span class="fa fa-times fa-lg" ng-click="showFriends = ! showFriends"></span>
      <h1>Follow Somebody</h1></br></br>
      <span ng-controller="UserController">
      <div id="addFriends">
        <form name="addingFriends">
          <input type="text" name="friendEmail" ng-model="email" class="input" placeholder="search by email"><br/></br>
          <button type="submit" class="submit" value="searchFriends" ng-click="addFriend();">Follow</button>
        </form>
      </div>
      <div id="friendslist">
        <ul id="friendsUL">
          <li class="friendli" ng-repeat='friend in friends track by $index' ng-click="filterFriendsBests()">
            <span class='friendName' id='{{friend.name}}'>{{friend[1]}}</span></br>
          </li>
        </ul>
      </div>
      </span>
    </div>
  </div>
<div id='map'></div>
<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoicHN3ZWV0cG90YXRvIiwiYSI6IjN1eWtxVnMifQ.EPs2g3oW5H1g92TAGy0hfg';
  var map = L.mapbox.map('map', 'psweetpotato.j7cn54e5', { zoomControl: false })
      .setView([40.742, -73.945], 13);
  map.attributionControl
      .addAttribution('<a href="https://foursquare.com/">Places data from Foursquare</a>');

      new L.Control.Zoom({ position: 'bottomleft' }).addTo(map);
</script>
</body>
</html>


