<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="js/services/BestService.js"></script>
    <script src="js/controllers/BestCtrl.js"></script>
    <script src="js/services/UserService.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
    <script src="js/controllers/LayerCtrl.js"></script>
    <script src="js/controllers/SearchCtrl.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400italic|Averia+Serif+Libre:700' rel='stylesheet' type='text/css'>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<link href="./style.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div ng-app="LayerCtrl" ng-controller="LayerController">
    <div class="overlay" >
      <ul class="allOrMe">
        <span id="userId"><%= user._id %></span></br>
          <div class="AllDiv"><li id='all' >Theirs</li></div>
          <div class="MyDiv" ng-click='changeOwner();'><li id='mine' >Mine</li></div>
      </ul>
      <ul id="layerUL" class="layers">
        <li ng-repeat='layer in layers'>
         <span class="cat" id=' {{layer.name}} ' ng-click="toggle()">{{layer.name}}</span>
        </li>
      </ul>

    </div>
    <div class="CAToverlay" ng-show='visible'>
      <span class="fa fa-times fa-lg" id="close" ng-click="close()"></span>
      <h1>Who has the best <span id="addDivHead"> catText </span> </br>in New York?</h1></br></br>
      <div id="searchdiv">
      <span ng-controller="SearchController">
        <form name="searchWord">
          <input type="text" name="sWord" ng-model="keywords" class="input" placeholder="pizza, Murray's Bagels, etc."><br/></br>
          <button type="submit" id="submit" value="Search" ng-click="search();">Search the Map</button>
        </form>
        </span>
      </div>
    </br></br>
        <p id="sug">Take a friend's suggestion</p>
        <div id="suglist">
          <ul id="suggestionsUL">
            <li id="sugli" ng-repeat='suggestion in suggestions | limitTo:5'
            ng-click="addSug()">
              <span id='{{suggestion.name}}'>{{suggestion.name}}</span></br>
              <span id='{{suggestion.address}}'>{{suggestion.address}}</span>
            </li>
          </ul>
        </div>

    </div>
  </div>
<div id='map'></div>
<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoicHN3ZWV0cG90YXRvIiwiYSI6IjN1eWtxVnMifQ.EPs2g3oW5H1g92TAGy0hfg';
  var map = L.mapbox.map('map', 'psweetpotato.j7cn54e5')
      .setView([40.742, -73.945], 13);
  // Credit Foursquare for their wonderful data
  map.attributionControl
      .addAttribution('<a href="https://foursquare.com/">Places data from Foursquare</a>');
</script>
</body>
</html>


