body{
  margin:0; padding:0;
}

#map{
  position:absolute; top:0; bottom:0; width:100%;
}

#userId {
  visibility: hidden;
}
.nav {
  background-color: #949291;
  padding-bottom: 15px;
}
.maindiv {
  top: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
  position: relative; width: 100%;
  z-index: 10;
  min-height: 43px !important;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) !important;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 425px;
  height: 100%;
  z-index: 10;
  background-color: #f6f6f6;
  margin-top: 68px;
}

.navOptions {
  list-style-type: none;
  text-align: center;
  padding-right: 120px;
  margin-top: 10px;

}
#mine {
  border-left: 1px solid #ccc;
}
.navOptionsli{
  cursor: pointer;
  font-family: 'Fauna One', serif;
  font-size: 20px;
  border-right: 1px solid #ccc;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}
.navOptionsli:hover{
  background: #949291;
}

#layerlist {
  background-color: #f6f6f6;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 15px;
  float: right;
  border-radius: 10px;
}

#layerUL {
  cursor: pointer;
  list-style-type: none;
  text-align: left;
}
#bestsUL {
  list-style-type: none;
  padding-right: 70px;
}
#mybests {
  float: right;
  padding-top: 70px;
}
#layerdiv {
  padding-top: 70px;
  float: left;
}
.cat {
  font-family: 'Fauna One', serif;
  font-size: 20px;
  border-top: 1px solid #ccc;
}
.cat:hover {
  background: #949291;
}
.mybest {
  font-family: 'Fauna One', serif;
  font-size: 20px;
}
#Tacos {
  border-bottom: 1px solid #ccc;
}

#resultsUL {
  list-style-type: none;
}

.fa-times {
  padding: 0px;
  float: right;
  cursor: pointer;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 24px;
  text-align: center;
}
#searchdiv {
  width: 50%;
  margin: 0 auto;
}

#suglist {
  width: 200px;
  margin: 0 auto;
}

#suggestionsUL {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.sugli {
  font-family: 'Fauna One', serif;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.sugli:hover {
  background: #949291;
}
.sugli:last-child; {
  border: none;
}

.submit {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:25px;
  line-height:25px;
  width:100%;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.input {
  width: 100%;
}
#title {
  float:left;
  font-family: 'Playfair Display SC', serif;
  font-size: 2em;
  padding-left: 25px;
  margin-top: 15px;
  color: #f6f6f6;
  text-decoration: none;

}
#title:hover; {
  color: #f6f6f6;
  text-decoration: none;
  cursor: pointer;
}

#addFriends {
  width: 50%;
  margin: 0 auto;
  padding-left: 50px;
}
#friendslist {
  width: 200px;
  margin: 0 auto;
}

#friendsUL {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
}
 #friendsUL li {
  font-family: 'Fauna One', serif;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
#friendsUL li:hover {
  background: #949291;
}


