body{
  margin:0; padding:0;
}

#map{
  position:absolute; top:0; bottom:0; width:100%;
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 50%;
  z-index: 10;
  background-color: #FFE7B8;
  opacity: .8;
}

#layerUL {
  list-style-type: none;
}

.allOrMe li{
display: inline;
list-style-type: none;
padding-right: 20px;
}
